@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Rubik:wght@300;400;500;600;700&display=swap");
.container-fluid {
  padding: 0px;
}
.container-fluid header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
header ul.header-brand {
  margin-left: 10px;
}
ul.header-brand li {
  display: inline-block;
}
ul.header-brand li {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

ul.header-menu li {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  padding-right: 30px;
  width: auto;
}
.header-menu li.img-user img {
  border-radius: 50%;
}
.img-search input {
  border-radius: 30px;
  background-color: #efeeee;
  border: none;
  text-align: center;
}
.img-search input:focus {
  outline: none;
  color: #6a4029;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(110, 62, 33, 0.274);
  background-color: #dbdbdb;
}
.img-search img {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
.img-chat span.badge {
  width: 15px;
  height: 15px;
  background-color: #6a4029;
  color: white;
  border-radius: 50px;
  position: absolute;
  top: 28px;
  right: 15.5%;
}

main {
  background-color: #ededed;
  padding-bottom: 200px;
}
aside .nav-aside {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  text-align: left;
  margin-top: 50px;
}
.nav-aside .nav-active {
  font-weight: 700;
  color: #6a4029;
}
aside {
  text-align: center;
}
aside .product-item img {
  margin-top: 90px;
  margin-bottom: 50px;
  border-radius: 50%;
}
aside .product-item .name-product {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 65px;
  color: black;
}
aside .product-item .price-product {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: black;
  margin-bottom: 30px;
}
aside .btn-add {
  background-color: #6a4029;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  border-radius: 20px;
  width: 388px;
  height: 85px;
  border: none;
  margin-top: 25px;
}
aside .btn-ask {
  background-color: #ffba33;
  color: #6a4029;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  border-radius: 20px;
  width: 388px;
  height: 85px;
  border: none;
  margin-top: 25px;
}
section .card {
  margin-top: 70px;
  border: none;
  border-radius: 15px;
  padding: 60px;
  margin-bottom: 50px;
}
.card-body .text1 {
  margin-bottom: 20px;
}
.card-body .text1,
.text2 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  color: #6a4029;
}
.size .text-size {
  color: black;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 10px;
}
.size .size-img {
  display: flex;
  justify-content: center;
}
.size-img .round-size {
  background-color: #ffba33;
  width: 70px;
  height: 70px;
  line-height: 2.25;
  border-radius: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: black;
  text-align: center;
  margin: 20px;
}

section .delivery-method {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.delivery-method .text-deliv {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}
.btn-deliv button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #f4f4f8;
  color: #9f9f9f;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: 1px solid #e0e0e2;
  margin: 10px;
}

.btn-deliv button:hover {
  background-color: #6a4029;
  color: white;
  border: 1px solid #6a4029;
  -webkit-box-shadow: 3px 3px 10px 0px #6a402954;
  -moz-box-shadow: 3px 3px 10px 0px #6a402954;
  box-shadow: 3px 3px 10px 0px #6a402954;
}
.delivery-method .input-label {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

.delivery-method input {
  border: none;
  border-bottom: 1px solid #9f9f9f;
  background-color: #ededed;
  text-align: center;
  width: 45%;
}

.container footer {
  display: flex;
  padding-top: 200px;
  padding-bottom: 80px;
}

.footer-background {
  background-color: white;
}

footer .footer-profile {
  flex: 4;
}

footer .footer-product {
  flex: 1;
  height: 50px;
}

footer .footer-engage {
  flex: 1;
}

ul.footer-brand li {
  display: inline-block;
}

ul.footer-medsos li {
  display: inline-block;
  width: 50px;
}

ul.footer-brand li.text,
.label-engage,
.label-product {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: black;
}
.footer-profile p.profile-text {
  padding-left: 40px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  font-weight: 400;
}
.footer-profile p.text-copy {
  font-family: "Rubik", sans-serif;
  padding-left: 40px;
  color: darkgrey;
  font-size: 16px;
}
footer .footer-product,
footer .footer-engage {
  list-style-type: none;
  line-height: 40px;
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  font-weight: 400;
}

.check-out {
  position: absolute;
  left: 68%;
  top: 190%;
}
.check-out button {
  background-color: #ffba33;
  border-radius: 20px;
  padding: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
  border: none;
  height: 168px;
}
.checkout-item .card {
  border-radius: 15px;
  border: none;
  position: absolute;
  left: 210px;
  top: 190%;
  height: 168px;
  width: 650px;
}

.checkout-item .card,
.check-out button {
  -webkit-box-shadow: 3px 3px 15px 0px #4e4c4b54;
  -moz-box-shadow: 3px 3px 15px 0px #4e4c4b54;
  box-shadow: 3px 3px 15px 0px #4e4c4b54;
}

.checkout-item .card-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.checkout-img img {
  border-radius: 50%;
  width: 90px;
}
.checkout-text {
  margin-right: 160px;
}
ul.kind-item li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 20;
  margin-bottom: 5px;
}
ul.kind-item li.item-name {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 25;
}
.checkout-total button {
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 25px;
  color: #6a4029;
  background-color: #f2d396;
}
.checkout-total label {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 25px;
  margin: 30px;
}

@media only screen and (max-width: 600px) {
  .container-fluid header {
    flex-direction: column;
    text-align: center;
  }
  header ul {
    margin-left: 0px;
    padding-left: 0px;
  }
  header ul.header-brand {
    margin: 20px;
  }
  ul.header-brand li {
    font-size: 30px;
  }
  ul.header-menu li {
    padding-top: 20px;
  }
  .img-search img {
    left: 140px;
  }
  /* 
  
  konten
  
  */
  main {
    background-color: #fafafa;
    padding-bottom: 80px;
  }
  aside .product-item .price-product {
    margin-bottom: 0px;
  }
  .nav-aside {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
  }
  .nav-aside div {
    font-size: 15px;
  }
  aside .product-item {
    display: flex;
    align-items: center;
  }
  .product-item img,
  .detail {
    -webkit-box-shadow: 1px 2px 5px 0px #2e2d2d54;
    -moz-box-shadow: 1px 2px 5px 0px #2e2d2d54;
    box-shadow: 1px 2px 5px 0px #2e2d2d54;
  }
  .product-item .detail {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
  }
  .product-item .detail .name-product,
  .product-item .detail .price-product {
    font-size: 30px;
  }
  aside .product-item img {
    margin-top: 50px;
    border-radius: 50%;
    width: 40%;
    border: 5px solid white;
  }
  aside br {
    display: none;
  }
  aside button.btn-add,
  button.btn-ask {
    position: relative;
    margin-top: 0px;
    font-size: 15px;
    width: 200px;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    top: 500px;
    z-index: 2;
  }
  section .card {
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 25%;
  }
  section .card .card-body .text1,
  section .card .card-body .text2 {
    font-size: 18px;
  }
  .size .text-size {
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .size-img .round-size {
    background-color: #ffba33;
    width: 50px;
    height: 50px;
    line-height: 2.25;
    border-radius: 55px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 20px;
  }
  .container footer {
    padding-top: 40%;
    flex-direction: column;
  }
  .footer-background {
    background-color: #f2f2f2;
  }
  footer .footer-product,
  footer .footer-engage {
    border-top: 1px solid #dbdbdb;
  }
  .checkout-item {
    position: relative;
    right: 30%;
  }
  .checkout-item .card {
    width: auto;
    height: auto;
  }

  .checkout-item .card .card-body .checkout-text {
    font-size: 12px;
    margin-right: 10px;
  }
  .checkout-item .card .card-body .checkout-img img {
    width: 60px;
  }
  .checkout-total button {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 8px;
  }
  .checkout-total label {
    font-size: 15px;
    margin: 10px;
  }
  .check-out {
    position: relative;
    left: 70%;
    top: 30px;
  }
  .check-out button {
    padding: 20px;
    font-size: 15px;
    height: auto;
  }
  .img-chat span.badge {
    top: 175px;
    right: 38%;
  }
}
